@import "../../../styles/app.scss";

.time-btn {
  display: inline-block;
  height: 32px;
  padding: 4px 13px;
  margin-bottom: 0;
  white-space: nowrap;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  background-color: $blue;
  color: $white;
  border: none;
  border-radius: 11px;
  text-decoration: none;
  transition: background-color ease-in-out 0.2s;
  &:active {
    box-shadow: 0px 2px 4px 0px #00000040;
  }
  &:focus,
  &:hover {
    background-color: $blueButtonFocus;
    border-color: #e8b705;
  }
}
.hidden {
  display: none;
}
